.table{
    tr {
        th{
            &:nth-child(1){width: 50px;}
            &:nth-child(2){width: 200px;}
            &:nth-child(3){width: 200px;}
            &:nth-child(5){text-align: center; width: 140px;}
        }
        td{ 
            vertical-align: middle;
            &:nth-child(5){
                button{
                    margin-left: 5px;;
                }
            }
        }
        &:hover{
            background-color: #f7f7f7;
        }
        &:last-child{
            border-bottom: 1px solid #dee2e6;
        }
    }
}
.dark-modal .modal-content {
    background-color: #292b2c;
    color: white;
  }
  .dark-modal .close {
    color: white;
  }
  .light-blue-backdrop {
    background-color: #5cb3fd;
  }