.table{
    tr {
        th{
            &:nth-child(1){width: 50px;}
            &:nth-child(2){width: 200px;}
            &:nth-child(3){width: 160px;}
            &:nth-child(5){text-align: center; width: 160px;}
        }
        td{ 
            vertical-align: middle;
            &:nth-child(2){
                text-align: left;
                a{
                    padding: 0.25rem 0.5rem;
                    margin-left: -0.5rem;
                }
            }
            &:nth-child(5){
                text-align: center;
                button{
                    margin-left: 5px;
                }
            }
        }
        &:hover{
            background-color: #f7f7f7;
        }
        &:last-child{
            border-bottom: 1px solid #dee2e6;
        }
    }
}
.table-responsive-sm {
    .table{
        tr {
            th{
                &:nth-child(3){text-align: center; width: auto;}
            }
            td{
                &:nth-child(3){
                    text-align: right;
                    white-space: nowrap;
                    button{
                        margin-left: 5px;
                    }}
            }
        }
    }
}
.dark-modal .modal-content {
    background-color: #292b2c;
    color: white;
  }
  .dark-modal .close {
    color: white;
  }
  .light-blue-backdrop {
    background-color: #5cb3fd;
  }